rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    // Controlla che l'utente abbia effettuato l'accesso
    function isAuthenticated() {
      return request.auth != null;
    }

    match /conversations/{conversationId} {
      // Per leggere, aggiornare o eliminare, l'utente deve essere nei participantIds
      allow read, update, delete: if isAuthenticated() && request.auth.uid in resource.data.participantIds;
      // Per creare, l'utente deve mettersi nei participantIds
      allow create: if isAuthenticated() && request.auth.uid in request.resource.data.participantIds;
      
      match /messages/{messageId} {
        // Per i messaggi, verifica che l'utente sia nei participantIds della conversazione padre
        allow read, write: if isAuthenticated() && request.auth.uid in get(/databases/$(database)/documents/conversations/$(conversationId)).data.participantIds;
      }
    }
  }
}
