<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>REVERSED_CLIENT_ID</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.306155509671-bh6m3qikgsrkfe8nvbushsvkuo6fhlkk</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>msauth</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>msauth.com.endeavor.app</string>
			</array>
		</dict>
	</array>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>msauthv2</string>
		<string>msauthv3</string>
	</array>
	<key>GIDClientID</key>
	<string>306155509671-bh6m3qikgsrkfe8nvbushsvkuo6fhlkk.apps.googleusercontent.com</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Endeavor needs access to save photos from conversations to your library.</string>
	<key>NSFaceIDUsageDescription</key>
	<string>Endeavor uses Face ID to protect your account.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Endeavor needs access to your photo library to share images in conversations.</string>
	<key>NSCameraUsageDescription</key>
	<string>Endeavor needs camera access to take and share photos in conversations.</string>
</dict>
</plist>
